.MainMap {
  width: 100vw;
  height: 100vh;
}

.input-group {
  position: absolute;
  float: left;
  width: 100%;
  height: 50px;
  background: #fff;
  z-index: 1;
}
.input-group input {
  width: 100%;
  height: 100%;
  line-height: 100%;
  padding: 15px;
  font-size: 16px;

  border: none;
  outline: none;
}
